<html>
	<head>
		<LINK rel="stylesheet" type="text/css" href="style.css">
		<meta charset="utf-8">
	</head>

    <body>
		<div>
			<H1>Liste des taches</H1>
			<ul>
                {{# taches}}
					<form action="index.php" method="post" enctype="multipart/form-data">
				    	<li>
							{{libelle}}
							<input type="image" action="index.php" src="img/suppr.png" class="img" id="suppr" name="taskSupr" ></input>
						 	<input  type="hidden" name="id"  value= {{id}} ></input>
						
						</li>
					</form>
						
                {{/ taches}}
			</ul>
		</div>
		<div>	
			<form action="index.php" method="post" enctype="multipart/form-data">
				<H1>Ajouter</H1>
				<libelle>Tache : </libelle>
				<input type="textarea" name="libTache"></input>
				<input type="submit" name="valider" id="valider" value="Valider" onclick="addTask()">
			<form>
		</div>
	</body>
</html>
<script type="text/javascript" src="../liste.js" ></script>