<html>
	<head>
		<LINK rel="stylesheet" type="text/css" href="style.css">
		<meta charset="utf-8">
		<script type="text/javascript" src="liste.js" ></script>
	</head>
	
    <body>
		<div>
			<H1>Liste des taches</H1>
			<ul>
                {{# taches}}
				    	<li>
							{{libelle}}
						 	<img src="img/suppr.png" class="img" id="{{id}}" onclick="dellTask(this)"></button>
						</li>
						
                {{/ taches}}
			</ul>
		</div>
		<div>	
			<H1>Ajouter</H1>
			<libelle>Tache : </libelle>
			<input type="textarea" id="libTache" name="libTache"></input>
			<button id="valider" onclick="addTask()">Valider</button>
		</div>
	</body>
</html>
